.admin {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4 {
        width: 100%;
        text-align: center;
    }

    &__list
    {
        width: 100%;
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        &__img
        {
            overflow: hidden;
            border-radius: 5%;
            box-shadow: beige 3px 2px 3px;
            box-sizing: border-box;
            object-fit: cover;
            object-position: center center;

            width: 80%;
            max-width: 320px;
            height: 200px;
        }

        section {
            max-width: 400px;
            min-width: 300px;
            width: 50%;
            min-height: 500px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            border: solid $text-color 3px;
            border-radius: 5%;
            margin: 10px 20px;
            overflow: hidden;
        }
        &__buttons
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
        }
    }
    &__options
    {
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin: 20px;
        }
    }


    .btn {
        border: solid 2px black;
        border-radius: unset ;
        &:hover {
            transform: scale(1.08);
        }
    }
    a {
        &:hover {
            transform: unset;
        }
    }
    h1 {
        margin-top: unset;
        margin-bottom: 30px;
    }


}

.login {

    width: 100%;
    min-height: 40vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    div {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        font-size: 0.8rem;
        overflow: hidden;

        label {
            min-width: 135px;
            width: auto;
            max-width: 35%;
        }
        a, button {
            margin: 50px 20px 0 20px;
            align-self: center;
            justify-self: center;

            &:hover {
                transform: unset;
                transform: scale(1.05);
                background-color: darken(lemonchiffon, 10);
                color: black;
                font-weight: bold;
            }
        }

    }

}